# currently pygall contains only one group ("admin")
# (see __acl__ in pygall/resources.py)
# the format of a line is: "username:password[:group]"
administrator:36gFp2rbkbd5Ui:admin
user:vCzX.LyFC5Hqo
