<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Photo gallery</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="imagetoolbar" content="false">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="${url('/css/galleria.css')}" rel="stylesheet" type="text/css" media="screen">
    <link href="${url('/css/style.css')}" rel="stylesheet" type="text/css" media="screen">
    <script type="text/javascript" src="${url('/js/jquery.min.js')}"></script>
    <script type="text/javascript" src="${url('/js/jquery.galleria.js')}"></script>
    <script type="text/javascript" src="${url('/js/App.Galleria.js')}"></script>
    <script type="text/javascript" src="${url(controller='main', action='constants')}"></script>
	<script type="text/javascript">
        $(document).ready(function() {
            App.constants.edit = ${"true" if c.edit else "false"};
            App.Galleria.init();
        });
	</script>
	
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div style="float:right;">
                <a href="${url(controller='import', action='new')}">Upload</a> |
                <a href="${url(controller='import', action='index')}">Import</a>
            </div>
        </div>
        <div id="container">
            <div id="side-a">

                <h1>La galerie photo!</h1>
                <ul class="gallery_demo">
                    <% first=True %>
                    % for photo in c.photos:
                    % if first:
                    <li title="${photo.time.strftime('%d/%m/%Y')}" class="active">
                    <% first=False %>
                    % else:
                    <li title="${photo.time.strftime('%d/%m/%Y')}">
                    % endif
                        <img src="${url('/data/photos/scaled/'+str(photo.uri))}" alt="${photo.uri}" title="${photo.description}">
                    </li>
                    % endfor
                </ul>
                <div class="nav">
                    <p>
                        <a href="#" onclick="$.galleria.prev(); return false;">&laquo; previous</a> | <a href="#" onclick="$.galleria.next(); return false;">next &raquo;</a>
                    </p>
                    <p>
                        % if c.edit:
                        ${c.photos.pager('Page: $link_previous ~4~ $link_next', edit=c.edit)}
                        % else:
                        ${c.photos.pager('Page: $link_previous ~4~ $link_next')}
                        % endif
                    </p>
                </div>

            </div>
            
            <div id="side-b">
                <!--image box-->
            </div>
        </div>
        <div id="footer">
            <!--FOOTER-->
        </div>
    </div>

</body>
</html>
