<%!
    import os
%>
<%
    dirs = {}
    rows = []
    id = 0
    for path in c.tree:
        id += 1
        row = {}
        row['id'] = id
        row['path'] = path
        row['class'] = "file"
        if path.endswith(os.sep):
            path = path[:-1]
            dirs[path] = id
            row['class'] = "folder"
        parent = os.path.dirname(path)
        row['parent'] = dirs[parent] if dirs.has_key(parent) else None
        rows.append(row)
%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Import de photos</title>
    <link href="${url('/lib/treeTable/css/jquery.treeTable.css')}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="${url('/css/style.css')}">
    <script src="${url('/js/jquery.min.js')}" type="text/javascript"></script>
    <script src="${url('/lib/treeTable/js/jquery.treeTable.min.js')}" type="text/javascript"></script>
    <script src="${url('/js/App.Import.js')}" type="text/javascript"></script>
    <script src="${url(controller='main', action='constants')}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            App.constants.dirs = ${dirs.values()};
            App.Import.init();
        });
    </script>
</head>
<body>
    <div id="flash"></div>
    <h3>Importer les photos dans la gallerie PyGall</h1>
    <a href="${url(controller='import', action='new')}">Upload</a> |
    <a href="${url(controller='photos', action='galleria')}">Galleria</a>
    <table id="photos-tree">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Importer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" name="import" value="Importer"></td>
                <td><input type="button" name="delete" value="Supprimer"></td>
            </tr>
        </tfoot>
        <tbody>
        % for row in rows:
            % if row['parent'] is None:
            <tr id="node-${row['id']}">
            % else:
            <tr id="node-${row['id']}" class="child-of-node-${row['parent']}">
            % endif
                <td><span class="${row['class']}">${row['path']}</span></td>
                <td><input type="checkbox" name="import" value="${row['id']}"></td>
                <td><input type="checkbox" name="delete" value="${row['id']}"></td>
            </tr>
        % endfor
        </tbody>
    </table>
</body>
</html>
