<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Upload de photos</title>
    <link rel="stylesheet" type="text/css" href="/gp.fileupload.static/fileupload.css">
    <style>
        #upload {
            margin-top:20px;
        }
        #flash {
            background-color: #ffaa00;
        }
    </style>
    <script src="/gp.fileupload.static/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
    function setupForm() {
        $("#upload").html("");
        $("#upload").fileUpload({
            action: "${url(controller='import', action='upload')}",
            submit_label: "Envoyer",
            max_size_error_label: "Le fichier est trop gros",
            success: function() { $('#flash').text("L'envoi a réussi"); setupForm(); },
            error: function() { $('#flash').text("L'envoi a échoué"); setupForm(); }
        });
    }
    $(document).ready(function() {
        setupForm();
    });
    </script>
</head>
<body>
    <div id="flash"></div>
    <h3>Uploader des photos dans la gallerie PyGall</h3>
    <a href="${url(controller='import', action='index')}">Import</a> |
    <a href="${url(controller='photos', action='galleria')}">Galleria</a>
    <div id="upload"></div>
    <script type="text/javascript" src="/gp.fileupload.static/jquery.fileupload.js"></script>
</body>
</html>
