# -*- coding: utf-8 -*-
<%inherit file="/pygall/base.mako.html"/>\
<div id="side-a">
    <h1>${_('PyGall photo gallery!')}</h1>
    <ul class="gallery_demo">
        <% first=True %>
        % for photo in c.photos:
        % if first:
        <li title="${photo.time.strftime('%d/%m/%Y')}" class="active">
        <% first=False %>
        % else:
        <li title="${photo.time.strftime('%d/%m/%Y')}">
        % endif
            <img src="${url('/data/photos/scaled/'+str(photo.uri))}" alt="${photo.uri}" title="${photo.description}">
        </li>
        % endfor
    </ul>
    <div class="nav">
        <p>
            <a href="#" onclick="$.galleria.prev(); return false;">&laquo; ${_('previous')}</a> | <a href="#" onclick="$.galleria.next(); return false;">${_('next')} &raquo;</a>
        </p>
        <p>
            % if c.edit:
            ${c.photos.pager(_('Page') + ': $link_previous ~4~ $link_next', edit=c.edit)}
            % else:
            ${c.photos.pager(_('Page') + ': $link_previous ~4~ $link_next')}
            % endif
        </p>
    </div>

</div>

<div id="side-b">
    <!--image box-->
</div>
\
<%def name="stylesheets()">\
    <link href="${url('/css/galleria.css')}" rel="stylesheet" type="text/css" media="screen">
${parent.stylesheets()}
</%def>\
\
<%def name="javascripts()">\
${parent.javascripts()}
    <script type="text/javascript" src="${url('/js/jquery.galleria.js')}"></script>
    <script type="text/javascript" src="${url('/js/App.Galleria.js')}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            App.edit = ${"true" if c.edit else "false"};
            App.Galleria.init();
        });
    </script>
</%def>\
